.main-sub-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  color: #787878;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  span {
    padding-left: 20px;
    padding-right: 20px;
    a {
      color: #e5ac25;
      font-weight: 700;
      animation: myfirst 2s linear infinite;
    }
  }
}

@keyframes myfirst {
  0%,
  100% {
    color: #e5ac25;
  }
  25% {
    color: #299bd7;
  }
  50% {
    color: #299bd7;
  }
  75% {
    color: #e5ac25;
  }
}

.main-sub-header_middle {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

.main-sub-header_email {
  text-decoration: underline;
}

.main-header {
  position: absolute;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  opacity: 0.9;
}

.main-header__order {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}

.main-header_phone {
  display: block;
  color: #545454;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
}

.main-header_call {
  display: block;
  color: #299bd7;
  font-family: Verdana;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  &:hover {
    text-decoration: none;
    color: #545454;
  }
}

.home-begin {
  min-height: 700px;
  padding-top: 230px;
  padding-bottom: 280px;
  background-color: #e4e4e4;
  background: url('../images/home-head.jpg');
  background-position-x: center;
  background-position-y: top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.home-begin__title {
  display: block;
  max-width: 90%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.home-begin__more {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  background-color: #5ab3e2;
  border-radius: 3px;
  color: white;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.2s ease-out;
  &:hover {
    color: white;
    background-color: #4c97bf;
    text-decoration: none;
    .home-begin__more_arrow {
      img {
        transform: translateX(-15px);
      }
    }
  }
}

.home-begin__more_arrow {
  display: inline-flex;
  align-items: center;
  padding: 15px;
  height: 100%;
  background-color: #4c97bf;
  border-radius: 3px;
  img {
    transition: all 0.2s ease-out;
  }
}

.home-begin__text {
  display: block;
  margin-bottom: 30px;
  color: #646464;
  font-family: Verdana;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
}

.home-features {
  padding-top: 140px;
  padding-bottom: 220px;
  background: url('../images/home-1.jpg');
  background-color: white;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.home-features__title {
  display: block;
  margin-bottom: 25px;
  color: #292929;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.home-features__link {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: #595959;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  transition: all 0.2s ease-out;
  img {
    display: inline-block;
    margin-right: 15px;
  }
  &:hover,
  &:active,
  &:focus {
    color: #e5ac25;
    text-decoration: none;
  }
}

.features__slider_title {
  display: block;
  margin-bottom: 20px;
  color: #292929;
  font-family: Verdana;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
}

.features__slider_link {
  display: inline-block;
  margin-top: 40px;
  background-color: #e5ac25;
  border: 1px solid #e5ac25;
  border-radius: 3px;
  padding: 10px 26px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: #292929;
    border-color: #000000;
    color: #ffffff;
    text-decoration: none;
  }
}

.home-seo {
  padding-top: 130px;
  padding-bottom: 130px;
  background: url('../images/home-2.png');
  background-color: #fafafa;
  background-position-x: right;
  background-position-y: center;
  background-size: 40% auto;
  background-repeat: no-repeat;
  color: #595959;
  font-family: Verdana;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin-top: 30px;
    font-weight: 700;
  }
  h4 {
    text-transform: uppercase;
  }
}

#owl-seo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.home-seo__title {
  display: block;
  margin-bottom: 20px;
  color: #595959;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
}

.main-footer {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #3f90ba;
}

.main-footer__title {
  display: block;
  margin-bottom: 70px;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS";
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.main-footer__cards {
  margin-bottom: 70px;
}

.main-footer__card {
  text-align: center;
  img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
  span {
    display: block;
    margin-top: 40px;
    margin-bottom: 15px;
    color: white;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
  a {
    display: block;
    color: white;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e5ac25;
      text-decoration: none;
    }
  }
}

.main-footer__text {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.main-footer__form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  input {
    margin-left: 5px;
    margin-right: 5px;
    padding: 22px 24px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38);
    color: #fefefe;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
  a {
    margin-left: 5px;
    margin-right: 5px;
    padding: 22px 80px;
    background-color: white;
    border-radius: 3px;
    text-decoration: none;
    color: #14bdec;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover {
      color: white;
      background-color: #292929;
    }
  }
}

.main-footer__nav {
  text-align: center;
  a {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.main-footer__creators {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  a {
    color: white;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #ff564a;
    }
  }
}

.main-header_page {
  position: relative;
  opacity: 1.0;
  box-shadow: 2.6px 9.2px 14px rgba(0, 0, 0, 0.15);
}

.main-footer_page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-content {
  padding-top: 50px;
  padding-bottom: 100px;
  background: url('../images/content-bg.png');
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.main-content__block {
  padding-left: 80px;
}

.content-block__breadcrump {
  margin-bottom: 30px;
  color: #757575;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  span {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
  }
  a {
    color: #757575;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e5ac25;
      text-decoration: none;
    }
  }
}

.content-block__title {
  display: block;
  margin-bottom: 30px;
  color: #292929;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.main-sidebar {
  padding-top: 45px;
  list-style: none;
}

.home-sidebar {
  list-style: none;
}

.review-card {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #e6e5e5;
  border-radius: 3px;
  background-color: white;
}

.review-card__img {
  display: inline-flex;
  align-items: center;
  margin-right: 25px;
  img {
    width: 100px;
    height: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
  }
}

.review-card__description {
  display: inline-block;
  color: #7e7e7e;
  font-family: Verdana;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  span {
    display: block;
    margin-bottom: 5px;
    color: #595959;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
  p {
    margin-bottom: 0;
  }
}

.main-pre-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e5ac25;
  text-align: center;
  span {
    display: block;
    color: white;
    font-family: Verdana;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }
  a {
    display: inline-block;
    margin-top: 30px;
    padding: 24px 50px;
    background-color: #2ba5f7;
    border-radius: 3px;
    color: #fefefe;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e5ac25;
      background-color: #292929;
      text-decoration: none;
    }
  }
}

.stock-card {
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  background-color: white;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.13);
  }
}

.stock-card__img {
  display: inline-flex;
  align-items: center;
  margin-right: 25px;
  img {
    width: 160px;
    height: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
  }
}

.stock-card__description {
  display: inline-block;
  color: #7e7e7e;
  font-family: Verdana;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  a {
    display: block;
    margin-bottom: 10px;
    color: #595959;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #e5ac25;
    }
  }
  p {
    margin-bottom: 0;
  }
}

.feature-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.feature-card {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  width: 280px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  min-height: 70px;
  padding: 12px 24px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.13);
  color: #595959;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  transition: all 0.2s ease-out;
  img {
    display: inline-block;
    margin-right: 15px;
  }
  &:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
    color: #e5ac25;
    text-decoration: none;
  }
}

.feature-article {
  color: #777676;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    margin-bottom: 20px;
    color: #292929;
    font-family: Verdana;
    font-weight: 400;
    line-height: 20px;
  }
}

.main-footer_home {
  padding-bottom: 80px;
}

.main-order {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #96d0ea;
  background-image: url('../images/for_modal_bg.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 60px;
  span {
    display: block;
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }
  button {
    display: inline-block;
    margin-top: 30px;
    padding: 26px 36px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 3px;
    color: #96d0ea;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #e5ac25;
      color: white;
    }
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}