@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {

    .main-header__order {
      text-align: center;
    }

    .main-header__logo {
      margin-left: 15px;
    }

}

@media (max-width: 768px) {
    
  .navbar-nav > li > a {
    text-align: center;
  }

  .home-features {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-footer__card {
    a {
      display: block;
      margin-bottom: 10px;
    }
  }

  .main-footer__form {
    a {
      margin-top: 10px;
    }
  }

  .main-content__block {
    padding-left: 15px;
    padding-right: 15px;
  }

  .review-card {
    flex-flow: column wrap;
  }

  .review-card__img img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .stock-card {
    flex-flow: column wrap;
  }

  .stock-card__img img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-pre-footer span {
    font-size: 20px;
  }

  .main-header {
    position: relative;
  }

  .main-sidebar {
    padding-top: 0;
  }

  .main-pre-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-content {
    padding-bottom: 30px;
  }

  .home-features {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .home-seo {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-footer__card span {
    margin-top: 20px;
  }

  .main-footer__title {
    margin-bottom: 20px;
  }

  .main-footer__cards {
    margin-bottom: 20px;
  }

  .main-footer__form {
    margin-bottom: 30px;
  }

  .main-order {
    padding: 20px 15px;
    background-image: none;
    span {
      font-size: 20px;
    }
    button {
      padding: 10px;
      font-size: 16px;
    }
  }

  .home-seo {
    display: none;
  }

}

@media (min-width: 1200px) {
    
}

@media (min-width: 979px) {

  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  
}

@media (min-width: 768px) {

  .navbar-nav>li>a {
    padding-top: 32px;
    padding-bottom: 32px;
    transition: all 0.2s ease-out;
    &:hover {
        color: #f8ae00;
        background-color: transparent;
    }
  }

}